@import "helper/colors";
@import "helper/fonts";
@import "helper/mixins";

body{
	font : {
		family: ubuntu, open-sans, sans-serif;
		size: 16px;
	}
}
h1{
	font-size: $h1;
	font-family: $font;
}
h2{
	font-size: $h2;
}
h3{
	font-size: $h3;
}
p{
	font-family: $fontfamily;
	color: $lightgreypar;
}
.color{
	color: $red;
}
.contact-info-top{
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.site-logo-nav{
	max-width: 230px;
	width: 100%;
	margin-left: 30px;
}
nav{
	display: none;
}
.icon{
	color: $red;
	font-size: $h1;
	float: right;

	&:hover{
		color: $red;
	}
}
.blog-nav{
	float: right;
	margin-top:15px;
}
.blog-nav a{
	color: $darkgrey;
	&:hover{
	text-decoration: none;
	color: $red;
	}
}
.blog-nav-item{
	padding-left: 40px;
}
nav .active{
	color: $red;
	font-weight:bold;
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  	position: relative;
  	@include ban-img-size;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.featured-txt{
	display: none;
}
.featured-txt h2{
	color: $red;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.intro-logo{
	max-width: 180px;
	margin: {
		left: auto;
		right: auto;
		bottom: 17px;
	}
}
.about-fuego{
	text-align:center;
}
.about-home-txt{
	text-align: center;
}
.fuego-btn{
	@include button-style;
	margin-top: 25px;
	margin-bottom: 60px;
	&:hover{
		border: solid 1px $red;
		background-color: $lightgreybtn;
		color: $red;
	}
}
.head-line-1{
	@include hr-line-style;
	margin-bottom: 0;
}
.col-main-left h2, h3, .happy-hour h2, .happy-hour h3, .form-footer h2{
	color: $red;
	text-align: center;	
}
.col-main-left h2, .happy-hour h2{
	padding-top: 46px;
	padding-bottom: 19px;
	margin:{
		top: 0;
		bottom: 0;
	} 
}
.featured-img{
	max-width: 680px;
	width: 100%;
	padding-right: 13px;
}
.our-food p, .our-bar p, .main-featured p{
	text-align: center;
	max-width: 295px;
	margin:{
		left: auto;
		right: auto;
	}
}
.our-food{
	padding-left: 15px;
}
.our-bar, .our-food{
	margin-top: 36px;
}
.our-bar img, .our-food img{
	max-width: 295px;
	width: 100%;
}

.happy-hour img{
	max-width: 390px;
	width: 100%;

}
.happy-hour{
	padding-right: 25px;
	margin:{
		left: auto;
		right: auto;
	}
}
.happy-hour p{
	max-width: 320px;
	width: 100%;
	text-align: center;
}
.happy-hour, .get-in-touch{
	padding:{
		left: 30px;
		bottom: 10px;
	}
}
.get-in-touch{
	padding-top: 14px;
	padding-right: 25px;
}
.get-in-touch-border, .get-in-touch-border p{
	text-align: center;
	padding: 6px;
	background-color: $red;
	color: $white!important;
}
.get-in-touch h2{
	padding-top: 35px;
}
.get-in-touch button{
	@include button-style-red-background;
	margin-bottom: 35px;
}
.get-in-touch p{
	padding: 20px;
}
.head-line-2{
	@include hr-line-style;
	margin-top: 0;
}
form{
	margin-left: 20px;
}
.form-footer input, .form-footer select, .form-footer textarea{
	border: 2px solid $black;
	margin-bottom: 10px;
}
.form-input{
	max-width: 250px;
	width: 100%;
}
.form-btn{
	@include button-style;
}
.form-footer select, .form-btn, .form-footer input{
	border-radius: 0;
	max-width: 260px;
	width: 100%;
}
.form-footer textarea{
	border-radius: 0;
	max-width: 532px;
	width: 100%;
}
.form-row{
	max-width: 812px;
	width: 100%;
}
.form-footer{
	margin-bottom: 60px;
}
footer{
	background-color: $peach;
	text-align: center;
}
footer img{
	max-width: 230px;
	width: 100%;
	margin-left: 25px; 
}
.footer-row{
	margin-top: 18px;
}
footer h3{
	color: $darkgrey;
	margin-top: 0;
	font: {
		weight: bold;
		size: 23px;
	}
}
.footer-nav a{
	color: $darkgrey;
	&:hover{
	text-decoration: none;
	color: $red;
	}
}
.footer-column{
	margin-bottom: 20px;
}

