@import "helper/colors";
@import "helper/fonts";
@import "helper/mixins";

body{
	font : {
		family: ubuntu, open-sans, sans-serif;
		size: 16px;
	}
}
h1{
	font-size: $h1;
	font-family: $font;
}
h2{
	font-size: $h2;
}
h3{
	font-size: $h3;
}
p{
	font-family: $fontfamily;
	color: $lightgrey;
}
.color{
	color: $red;
}
.contact-info-top{
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.site-logo-nav{
	max-width: 230px;
	width: 100%;
	margin-left: 30px;
}
nav{
	display: none;
}
.icon{
	color: $red;
	font-size: $h1;
	float: right;

	:hover{
		color: $red;
	}
}
.icon:hover{
	
}
.blog-nav{
	float: right;
	margin-top:15px;
}
.blog-nav a{
	color: $darkgrey;

}
.blog-nav a:hover{
	text-decoration: none;
	color: $red;
}
.blog-nav-item{
	padding-left: 40px;
}
nav .active{
	color: $red;
	font-weight:bold;
}
.banner-image-home{
	@include ban-img-size;
}
.intro-logo{
	max-width: 180px;
	margin: {
		left: auto;
		right: auto;
		bottom: 17px;
	}
}
.about-fuego{
	text-align:center;
}
.about-home-txt{
	text-align: center;
}
.home-about-btn{
	color: $white;
	background-color: $red;
	border: none;
	padding: 6px 12px;
	margin-top: 25px;
	margin-bottom: 60px;
}
.home-about-btn:hover{
		border: solid 1px $red;
		background-color: $lightgrey;
		color: $red;
	}
.head-line-1{
	border: 0.5px solid $darkgrey;
	margin-bottom: 0;
	max-width: 1170px;
	width: 100%;
}
.col-main-left h2, h3, .happy-hour h2, .happy-hour h3{
	color: $red;
	text-align: center;	
}
.col-main-left h2, .happy-hour h2{
	padding-top: 46px;
	padding-bottom: 19px;
	margin:{
		top: 0;
		bottom: 0;
	} 
}
.featured-img{
	max-width: 680px;
	width: 100%;
	padding-right: 13px;
}
.our-food p, .our-bar p, .main-featured p{
	text-align: center;
	max-width: 295px;
	margin:{
		left: auto;
		right: auto;
	}
}
.our-food{
	padding-left: 0;
}
.our-bar, .our-food{
	margin-top: 48px;
}
.our-bar img, .our-food img{
	max-width: 295px;
	width: 100%;
}
.our-food{
	padding-right: 30px;
}
.happy-hour img{
	max-width: 378px;
	width: 100%;
}
.happy-hour, .get-in-touch{
	padding-left: 52px;
    border-left: 1px solid
}

.get-in-touch{
	padding-top: 20px;	
}